svg {
  width: 1rem;
  height: 1rem;
}

.fa-bars {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.fa-heart,
.fa-cart-shopping {
  color: $primary;
  margin-right: 5px;
}

.shop {
  .product-action {
    .fa-heart,
    .fa-cart-shopping,
    .fa-trash {
      color: #3d464d;
      margin-right: 5px;
    }

    & > a:hover {
      .fa-heart,
      .fa-cart-shopping,
      .fa-trash {
        color: $primary;
        margin-right: 5px;
      }
    }
  }
}
